<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    
    <rewrite>
      <rules>
        <rule name="Redirect all requests" stopProcessing="true">
          <match url="^(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="^.*\.(png|jpg|jpeg|gif|css|js|ico|svg|woff|woff2|ttf|eot)$" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
        </rule>
        
        <rule name="Static assets" stopProcessing="true">
          <match url="^(.*)\.(png|jpg|jpeg|gif|css|js|ico|svg|woff|woff2|ttf|eot)$" ignoreCase="true" />
          <action type="None" />
        </rule>
      </rules>
      
      <outboundRules>
        <clear />
      </outboundRules>
    </rewrite>
    
    <httpErrors existingResponse="PassThrough" />
    
    <handlers>
      <remove name="PHP74" />
      <add name="PHP-FCGID" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\Program Files\PHP\v8.2\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="vendor" />
          <add segment="storage" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
